@model Sensor

@{
    Sensor sensor = Model;
    ViewData["Title"] = sensor.NameOrId();
    var fromDate = (DateTime?)ViewData["from"];
    var toDate = (DateTime?)ViewData["to"];
    string from = fromDate?.ToUtcString();
    string to = toDate?.ToUtcString();
    string filename = $"report{fromDate:ddMMyy}-{toDate:ddMMyy}.csv"; 
}

<h1 class="title">@ViewData["Title"]</h1>

<p>
    <a href="@sensor.SensorId/live">Live</a>
    <a href="@sensor.SensorId/settings">Settings</a>
    <a href="@sensor.SensorId/data.csv?from=@from&to=@to" download="@filename">Report</a>
</p>

<form action="@sensor.SensorId" method="get">
    <label for="from">
        From:
        <input type="datetime-local" id="from" name="from" value="@from"/>
    </label>
    <label for="to">
        To:
        <input type="datetime-local" id="to" name="to" value="@to"/>
    </label>

    <input type="submit"/>
</form>

<canvas id="canvas" width="300" height="130"></canvas>

<script>
    makeChartStatic('/@sensor.DeviceId/@sensor.SensorId', '@Html.Raw(sensor.Unit)', $('#from').val(), $('#to').val());
</script>
